body {
  font-family: Inter, sans-serif;
  color: #2B283A;
  font-size: 16px;
  line-height: 1.2em;
}

header {
  background-color: #BEE5B0;
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: -0.075em;
  height: 55px;
  margin-bottom: 27px;
}

header > svg {
  color: #222222;
}

main {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 250px;
  margin: 18px 40px;
}

.card--image {
  width: 150px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card--meta {
  display: flex;
  align-items: center;
}

.card--country {
  letter-spacing: 0.17em;
  margin-left: 0.2em;
}

.card--link-google {
  color: #918E9B;
  font-size: 16px;
  line-height: 1.2em;
  margin-left: 0.8em;
}

.card--title {
  font-size: 2em;
}

.card--text {
  line-height: 150%;
}